<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Produtos</title>
</head>
<body>
    <h1>Editar Produtos</h1>

    <form method="POST">
        Nome: <input name="nome" value="{{produto.nome}}"><br>
        Categoria: <input name="categoria" value="{{produto.categoria}}"><br>
        Tamanho: <input name="tamanho" value="{{produto.tamanho}}"><br>
        Cor: <input name="cor" value="{{produto.cor}}"><br>
        Preço: <input name="preco" type="number" step="0.01" value="{{produto.preco}}"><br>
        Promoção: <input name="promocao" type="checkbox" {% if produto.promocao%}checked{% endif %}><br>
        Link WhatsApp: <input name="link_wpp" value="{{produto.link_wpp}}"><br>
        <button type="submit">Salvar</button>
    </form>

    <a href="{{ url_for('admin') }}">Voltar</a>
</body>
</html>